body {
  margin: 0 auto;
  padding: 0;
  line-height: 1.5em;
  letter-spacing: 2px;
  border-spacing: 5px;
}

table, th, td {
  border: 1px solid black;
  padding: 1em;
}

table {
  margin: 5em auto;
  width: 80%;
  border-collapse: collapse;
}

th {
  font-size: 1.2em;
}


