body {
  margin: 0 auto;
  padding: 0;
  line-height: 1.5em;
  letter-spacing: 2px;
  border-spacing: 5px;
}

table, td {
  margin: 2em auto;
  border: 1px solid black;
  padding: 1em; 
  border-spacing: ;
}


tr {
  border-right : 1px solid black;
  padding: 1em;
  margin: 1em;
}

 th {
  border-right: 1px solid black;
  padding: 1em;
  margin: 1em;
}

th:last-child {
  border: none;
}

